/* @font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-BlackItalic.woff2') format('woff2'),
        url('/fonts/BROmny-BlackItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-Black.woff2') format('woff2'),
        url('/fonts/BROmny-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-Bold.woff2') format('woff2'),
        url('/fonts/BROmny-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-Light.woff2') format('woff2'),
        url('/fonts/BROmny-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-BoldItalic.woff2') format('woff2'),
        url('/fonts/BROmny-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-LightItalic.woff2') format('woff2'),
        url('/fonts/BROmny-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-Regular.woff2') format('woff2'),
        url('/fonts/BROmny-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-MediumItalic.woff2') format('woff2'),
        url('/fonts/BROmny-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-Medium.woff2') format('woff2'),
        url('/fonts/BROmny-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/BROmny-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-RegularItalic.woff2') format('woff2'),
        url('/fonts/BROmny-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-SemiBold.woff2') format('woff2'),
        url('/fonts/BROmny-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-Thin.woff2') format('woff2'),
        url('/fonts/BROmny-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'omny';
    src: url('/fonts/BROmny-ThinItalic.woff2') format('woff2'),
        url('/fonts/BROmny-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
} */

@import url('/fonts/stylesheet.css');


@tailwind base;
@tailwind components;
@tailwind utilities;


section {
    margin: 0;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

.main-btn {
    background: #062638;
    padding: 16px 32px;
    color: #ffffff;
    border-radius: 12px;
}